*{
    background-image: url("BackGround.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed; 
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#header1{
    position: fixed;
    height: 50px;
    padding: 5px 0px 0px 0px;
    background: none;
}
.topdiv{
    position: fixed;
    background: scroll;
}
.logo{

    background: none;
    font-size: 40px;
    font-weight: 200;
    margin: 0px 505px 0px 50px;
    color: aliceblue;
    text-decoration: none ;
    filter: drop-shadow(0 0 2px rgb(178, 166, 166)); 
}
.topHeading{

    font-size: 20px;
    background: transparent;
    margin-left: 25px; 
    color: aliceblue;
    text-decoration: none ;

}
.topHeading:hover{
    color: rgb(157, 21, 100);
    transition: color 0.2s ease-in-out;

}